{% extends 'base.html.twig' %}
{% block body %}
    <h1> {{ website }}</h1>

    <a class="nav-link" href="season">season index</a>
    <a class="nav-link" href="season/new">new season</a>

    <a class="nav-link" href="episode">episode index</a>
    <a class="nav-link" href="episode/new">new episode</a>
    
{% endblock %}