{% extends 'base.html.twig' %}

{% block title %}Acteur{% endblock %}

{% block body %}

<ul>

   
        {% for program in actor.programs %}
        <li><a href="{{ path("program_show", {id: program.id }) }}">{{ program.title }}</a></li>

        
    {% else %}
        <li>Aucune série pour cet acteur</li>
        {% endfor %}
</ul>
{% endblock %}