{% extends 'base.html.twig' %}
{% block body %}
<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Wild Series</title>
</head>
<body>
   <h1>{{ website }} index</h1>

   <a href="{{ path('program_show') }}">Afficher la page 4</a>

</body>
</html>
{% endblock %}